# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*-debug.log

# Functions build output
functions/lib/
functions/node_modules/

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
